* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}



.container__first {
    background-color: #343837;
}

@media(max-width: 1200px) {
    .container__first {
        max-width: 100%;
        max-height: 100%;
    }
}

.top {
    background-color:  #0CB577 ;

}

.name {
    text-align: center;
    font-weight: 800;
}

.about {
    font-size: 2rem;
    margin: 1rem 2rem;
    padding: 1rem 1rem;
    font-family: sans-serif;
    border-bottom: 1px solid #062E03;
}

@media(max-width: 1200px) {
    .about {
        font-size: 1.6rem;
        padding: .7rem .7rem;
    }
}

@media(max-width: 992px) {
    .about {
        font-size: 1.3rem;
        padding: .5rem .5rem;
    }
}



.title {
    background-color: #444;
    color: #fff;
}


.title__info {
    display:inline-block;
    font-size: 3rem;
    margin: 2rem 3rem;
    color: #33B864;
    font-weight: 700;
    border-bottom:1px dashed;
}

@media (max-width: 1200px) {
    .title__info {
        font-size: 2.4rem;
        margin: 1.5rem 2.3rem;
        font-weight: 500;
    }
}

@media (max-width: 992px) {
    .title__info {
        font-size: 2rem;
        margin: 1rem 2rem;
        font-weight: 500;
    }
}

@media (max-width: 700px) {
    .title__info {
        font-size: 1.5rem;
        margin: .5rem 1.5rem;
        font-weight: 500;
    }
}

.title__info--header {
    display: block;
    font-size: 2.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 1.5rem ;
    margin-bottom: auto;
    
}

@media (max-width: 1200px) {
    .title__info--header {
        font-size: 2rem;
    }
}

@media (max-width: 992px) {
    .title__info--header {
        font-size: 1.6rem;
    }
}

@media (max-width: 700px) {
    .title__info--header {
        font-size: 1.2rem;
    }
}

.info__detail {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1.5rem;
}

@media (max-width: 1200px) {
    .info__detail{
        font-size: 1.6rem;
    }
   
}

@media (max-width: 992px) {
    .info__detail{
        font-size: 1.3rem;
    }
   
}

@media (max-width: 700px) {
    .info__detail{
        font-size: 1rem;
    }
   
}

.background {
    background-color: #fff;
    color: #444;
}

