*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

:root {

  --gutter-huge: 12rem;
  --gutter-medium: 6rem;
  --gutter-normal: 3rem;
  --gutter-small-1: 2.5rem;
  --gutter-small: 2rem;

  --border-light: 1px solid rgb(36, 35, 35);
}

html {
  font-size: 62.5%; 
}

body {
  box-sizing: border-box; 
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  max-width: 90%;
  max-height: 90%;
  background-color: #fff;
}

@media(min-width: 1800px) {
  body {
    line-height: 2.4;
    padding: 3.5rem;
    max-width: 80%;
    max-width: 75%;
    font-size: 3rem;
  }
}

@media(max-width: 1200px) {
  body {
    line-height: 1.4;
    padding: 2.5rem;
    max-width: 95%;
  }
}

@media(max-width: 600px) {
  body {
    max-width: 100%;
    padding: .5rem;
  }
}

.blog {
  color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 28px;
    margin: 3rem 4rem;
}

.container { 
    margin-left: 4rem;
    background-color: #fff;
}

@media(min-width: 1800px) {
  .container {
    margin-left: 4rem;
    font-size: 5rem;
  }
}

@media(max-width: 1200px) {
  .container {
    margin-left: 2rem;
    margin: 2rem 2rem;
  }
}

@media(max-width: 600px) {
  .container {
    margin-left: .5rem;
  }
}



.headerStyle  {
    background-color: #222;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
      
}

@media(max-width: 800px) {
  .headerStyle {
    font-size: 1.2rem;
    padding: 5px
  }
}

@media(max-width: 450px) {
  .headerStyle {
    font-size: 1rem;
    padding: 0;
  }
}

.linkStyle  {
    color: #fff;
    text-decoration: none;
    margin: 20px 20px;
      
}

@media(max-width: 800px) {
  .linkStyle {
    font-size: 1.2rem;
    margin: 5px 5px;
  }
}

@media(max-width: 450px) {
  .linkStyle {
    font-size: 1rem;
    margin: 0px 0px;
  }
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(160, 100, 50, 0.8), rgba(140, 180, 200, 0.8)), url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; 
}

@media(max-width: 900px) {
  .header {
    height: 95vh;
  }
}
 
.header__text-box {
    font-size: 7rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    color: #cfffff;
  }

  @media(max-width: 1200px) {
    .header__text-box {
      font-size: 5rem;
    }
  }

  .about {
    margin: 1rem 1rem;
    background-color: #9DBCD4;
    color: #1F3B4D;
  }


  .start {
    margin: 20px 15px;
    font-family: serif;
    font-size: 3rem;
    color: #222;
    background-color: #eff;
    padding: 10px;
   
  }

  @media(min-width: 1800px) {
    .start {
      font-size: 5rem;
    }
    
  }

  @media(max-width: 900px) {
    .start {
      font-size: 2rem;
    }
    
  }

  @media(max-width: 600px) {
    .start {
      font-size: 1.7rem;
    }
    
  }

  .section {
    text-align: center;
    font-size: 2.5rem;
    font-family: sans-serif;
    margin: 25px 15px;
    color: #555;
    background-color:#ddd;
    background-position: center;
  }

  @media(max-width: 900px) {
    .section {
      font-size: 2rem;
      font-family: sans-serif, lato;
      margin: 20px 10px;
    }
    
  }

  .list {
    list-style: none;
    margin: 20px 15px 10px 15px;
    font-size: 2.4rem;
    font-family: lato;
    color: #444;
  }

  @media(max-width: 900px) {
    .list {
      font-size: 2rem;
      margin: 17px 13px 8px 13px;
    }
    

  }

  .brief {
    margin: 15px 10px;
    font-size: 2rem;
    font-family: Helvetica;
    color: #333;
  }

  @media(max-width: 900px) {
    .brief {
      font-size: 1.5rem;
      
    }
  }

.lists {
  margin: 10px 3rem;
  font-size: 2rem;
  color: orangered;
}

@media(max-width: 900px) {
  .lists {
    font-size: 1.5rem;
    margin: 7px 2rem;
  }
}


.key {
  background-color: #afa;
}
  .take-away {
    text-align: center;
    font-size: 2.5rem;
    font-family: sans-serif;
    margin: 10px 15px 10px 15px;
    color: #222;
  }

  @media(max-width: 900px) {
    .take-away {
      font-size: 2rem;
      margin: 8px 12px 8px 12px;
    }
  }

  .final {
    margin: 10px 20px 30px 20px;
    font-size: 2rem;
    font-family: Helvetica;
    color: #444;
  }

  @media(max-width: 900px) {
    .final {
      font-size: 1.5rem;
      margin: 8px 15px 25px 15px;
    }
  }

/* --------------------------------------- */
/* ----- Footer ----- */
/* --------------------------------------- */

.footer {
    background-color: #000;
    text-align: center;
    padding: var(--gutter-medium) 0 var(--gutter-normal);
}

.footer__social-links {
    display: flex;
    justify-content: center;
    padding: var(--gutter-normal) 0;
    list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
    margin-right: var(--gutter-small);
}

.footer__social-image {
    height: 4rem;
}

.footer__github-buttons {
    display: flex;
    justify-content: center;
}

.footer__github-buttons iframe {
    height: 2.5rem;
    width: 80px;
    transform: translateY(3px);
}

@media(max-width: 500px) {
    .footer {
        padding: var(--gutter-medium) 0;
    } 
}
